<div class="main-container ">
  <nav class="navbar bg-transparent">
    <div class="container justify-content-center">
      <a class="navbar-brand " href="#">
        <img src="../../assets/logos/weekly_white_logo_trans.png" alt="Bootstrap">
      </a>
    </div>
  </nav>

  <section id="hero">
    <div class="container">
      <div class="title">
        <h1>We're the people who make up Weekly<span><img src="../../assets/logos/dot.png" alt=""></span></h1>
      </div>
      <div class="desc">
        <p class="desc-text text-center">See the faces behind the brand, our core values, and why we're all about making
          waves.</p>
      </div>
    </div>
  </section>

  <section id="about-card">
    <div class="container">

      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="img-container">
              <img src="../../assets/images/sriram.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Sriram</h5>
              <p class="card-desc">Designer & Developer</p>
              <p class="card-text">Frontend developer crafting intuitive, responsive, and stylish web apps with a focus
                on design and clean code.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="img-container">
              <img src="../../assets/images/nandagopu.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Nandagopu</h5>
              <p class="card-desc">Product designer</p>
              <p class="card-text">I love creating useful and joyful things, driven by community, collaboration, and my
                passions for stories, art, and
                travel</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="img-container">
              <img src="../../assets/images/yogesh.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Yogeshwawaran</h5>
              <p class="card-desc">Backend Engineer</p>
              <p class="card-text">Inspired to Help, Aspiring to Grow...</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="img-container">
              <img src="../../assets/images/nitish.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Nitish Kumar</h5>
              <p class="card-desc">Backend Engineer</p>
              <p class="card-text">Software engineer skilled in Java/Spring Boot, Flutter, with interests in WordPress,
                frontend, and microservices.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <footer id="footer">
    <div class="container">
      <h1 class="footer-text">crafted for you :)</h1>
    </div>
  </footer>
</div>